<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="linyxy.civitas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true">
        <activity
            android:name="linyxy.civitas.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="linyxy.civitas.MainActivity"
            android:launchMode="singleInstance"
            ></activity>
           <activity
            android:name="linyxy.civitas.LetterActivity"
           
            ></activity>
              <activity
            android:name="linyxy.civitas.LetterTabHostActivity"
            android:launchMode="singleTask"
           
            ></activity>
              <activity 
            android:name="linyxy.civitas.NewLetterActivity"      
            ></activity>
        <activity
            android:name="linyxy.civitas.My_Second_Activity"
            android:label="@string/my_second"
            ></activity>
        <activity
            android:name="linyxy.civitas.MessageActivity"
            android:label="@string/messages"
            ></activity>
        <activity 
            android:name="linyxy.civitas.conversation"
            android:label="@string/conversation"></activity>
        <activity 
            android:name="linyxy.civitas.SQLiteActivity"
            android:label="@string/SQL"  ></activity>
        <activity
            android:name="linyxy.civitas.DataRequestUtil"></activity>
         <activity 
            android:name="linyxy.civitas.ChatActivity"      
            ></activity>
    </application>
    

</manifest>
